<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="homeContentArea" th:fragment="homeContent">
		<div class="homeContentTitle">
			<h1>기술스택</h1>
		</div>
		<div class="homeContent">
			<h1>Back-end</h1>
			<p>Java</p>
			<p>Spring</p>
			<p>SpringBoot</p>
			<p>Python</p>
			<h1>Server</h1>
			<p>Apache Tomcat</p>
			<h1>OS</h1>
			<p>Linux (Ubuntu 18.x LTS)</p>
		</div>
		<div class="homeContent">
			<h1>DB</h1>
			<p>Oracle</p>
			<p>MongoDB</p>
			<h1>IDE/Tool</h1>
			<p>Eclipse</p>
			<p>Visual Studio Code</p>
			<h1>VCS</h1>
			<p>git</p>
		</div>
		<hr>
		<div class="homeContentTitle">
			<h1>개인 프로젝트</h1>
		</div>
		<div class="homeContent">
			<h1>소개</h1>
			<p>Java</p>
			<p>Spring</p>
			<p>SpringBoot</p>
			<p>Python</p>
			<h1>Server</h1>
			<p>Apache Tomcat</p>
			<h1>OS</h1>
			<p>Linux (Ubuntu 18.x LTS)</p>
		</div>
		<div class="homeContent">
			<h1>DB</h1>
			<p>Oracle</p>
			<p>MongoDB</p>
			<h1>IDE/Tool</h1>
			<p>Eclipse</p>
			<p>Visual Studio Code</p>
			<h1>VCS</h1>
			<p>git</p>
		</div>
	</div>
</body>
</html>